$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-prev: "\e904";
$icon-next: "\e905";
$icon-mail: "\e900";
$icon-region01: "\e906";
$icon-g10: "\e909";
$icon-region04: "\e90a";
$icon-tel: "\e90b";
$icon-region02: "\e90c";
$icon-diferenciais01: "\e90d";
$icon-diferenciais02: "\e90e";
$icon-diferenciais03: "\e90f";
$icon-diferenciais04: "\e910";
$icon-diferenciais05: "\e911";
$icon-diferenciais06: "\e912";
$icon-diferenciais07: "\e913";
$icon-diferenciais08: "\e914";
$icon-diferenciais09: "\e915";
$icon-diferenciais10: "\e916";
$icon-diferenciais11: "\e917";
$icon-diferenciais12: "\e918";
$icon-diferenciais13: "\e919";
$icon-itens01: "\e91a";
$icon-itens02: "\e91b";
$icon-itens03: "\e91c";
$icon-itens05: "\e91d";
$icon-itens06: "\e91e";
$icon-itens07: "\e91f";
$icon-itens08: "\e920";
$icon-itens09: "\e921";
$icon-itens10: "\e922";
$icon-itens11: "\e923";
$icon-itens12: "\e924";
$icon-itens13: "\e925";
$icon-itens17: "\e926";
$icon-itens14: "\e927";
$icon-itens15: "\e928";
$icon-itens16: "\e929";
$icon-pin: "\e92a";
$icon-chat: "\e901";
$icon-camera: "\e902";
$icon-down: "\e903";
$icon-close: "\e907";
$icon-whatsapp: "\ea5e";
$icon-play: "\e908";

