.barra-conversao{
    position: fixed;
    z-index: 9;
    display: flex;
    
    @include media-breakpoint-down(lg){
        background: #F8A128;
        bottom: 0;
        left: 0px;        
        border-radius: 0px 15px 0px 0px;
        height: 54px;

        @at-root .menu-active & {
            opacity: 0;
        }
    }

    @include media-breakpoint-up(lg){
        flex-flow: column;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-btn{
        --btn-bg: #F8A128;
        --btn-color: #fff;

        position: relative;
        padding: 0;
        border: none;
        margin: 0 5px 0 0;

        @include media-breakpoint-up(lg){
            margin: 5px 0;
        }

        i{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 26px;
            background: var(--btn-bg);
            color: var(--btn-color);
            border-radius: 15px 0;
            border: 2px solid #88927F;

            @include media-breakpoint-down(lg){
               border: none;
               border-radius: 0px 15px 0px 0px;
            }

        }
        .icon-pin {
            @include media-breakpoint-down (md) {
                display: none;
            }
            @include media-breakpoint-up (lg) {
                font-size: 32px;
            }
        }

        .icon-mail {
            font-size: 24px;
            @include media-breakpoint-up (lg) {
                font-size: 22px;
            }
        }

        .icon-whatsapp {
            font-size: 32px;
            @include media-breakpoint-up (lg) {
                font-size: 34px;
            }
        }

        span{
            position: absolute;
            top: 0;
            right: calc(100% - 8px);
            z-index: 2;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            padding: 0 30px;
            white-space: nowrap;
            height: 100%;
            background: var(--btn-bg);
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            transform: translate(10px);
            border: 2px solid #88927F;
            border-radius: 15px 0;

            @include media-breakpoint-down(lg){
                display: none;
            }
        }

        &:hover{
            color: var(--btn-color);

            span{
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}