.diferenciais {

    &-grupo {
        position: relative;

        .grp-dif {
            &::before {
                content: '';
                background: url(../images/grupo-diferenciais.svg);
                width: 308px;
                height: 172px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -30px;
                left: 0;
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }

    .titulo {
        h1 {
            font-size: 30px;

            @include media-breakpoint-up (lg) {
                font-size: 40px;
            }
        }
        text-align: center;
        padding-top: 50px;
    }

    &-carrossel {
        position: relative;
        margin-top: 30px;

        @include media-breakpoint-up(lg) {
            margin-top: 60px;
        }

        .petalas1 {
            &::before {
                content: '';
                background: url(../images/petalas-dif1-2.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -35px;
                left: 128px;
                z-index: -1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .petalas2 {
            &::before {
                content: '';
                background: url(../images/petalas-dif1-2.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 0;
                right: 100px;
                z-index: -1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .petalas3 {
            &::before {
                content: '';
                background: url(../images/petalas-dif3-4.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -80px;
                right: -8px;
                z-index: -1;

                @include media-breakpoint-up(lg) {
                    right: 376px;
                }
            }
        }

        .petalas4 {
            &::before {
                content: '';
                background: url(../images/petalas-dif3-4.svg);
                width: 104px;
                height: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 28px;
                left: 330px;
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .splide {
            --nav-margin: 510px;
            --nav-bg: #000;

            &__track {
                max-width: 850px;
                margin: 0 auto;
            }

            &__slide {

                &.is-active {
                    @include media-breakpoint-up(lg) {
                        .item {
                            transform: scale(1);
                        }
                    }
                }


                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 284px;
                    height: 284px;
                    text-align: center;
                    padding: 20px;
                    border: solid 1px #FF9400;
                    border-radius: 20px;
                    box-shadow: 0px 6px 11px #00000029;
                    background: transparent linear-gradient(137deg, #FFFFFF 0%, #FFF7EC 100%) 0% 0% no-repeat padding-box;

                    @include media-breakpoint-up(lg) {
                        transform: scale(0.8);
                        transition: transform .1s ease-in-out;
                    }
                }

                .icone {
                    font-size: 45px;
                    color: #F8A128;
                }

                p {
                    text-transform: uppercase;
                    font-size: 20px;
                }

                .legenda {
                    text-transform: capitalize;
                }
            }

        }

    }

    .botao-cta {
        display: flex;
        justify-content: center;
        margin-top: 64px;

        @include media-breakpoint-down(sm) {
            margin-top: 41px;
        }
    }
}