.fachada {
    padding: 0;

    .container {
        position: relative;

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &-grupo {
        position: relative;

        .grp-fachada {
            &::before {
                content: '';
                background: url(../images/grupo-info.svg);
                width: 295px;
                height: 165px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 93px;
                right: 0;
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }


    &-img {
        position: relative;
        margin: 0 -20px;
        padding: 40px 0 0;

        @include media-breakpoint-up(lg) {
            margin: 0 0 0 -113px;
        }

        &::before {
            content: '';
            width: 100%;
            height: 389px;
            background: url(../images/bg-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            @include media-breakpoint-up(lg) {
                width: 611px;
                height: 654px;
                background: url(../images/bg.png);
                top: 0;
                left: calc(50% - 245px);
                clip-path: none;
            }
        }

        &::after {
            content: '';
            width: 368px;
            height: 351px;
            background: url(../images/grupo-fachada.svg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: -150px;
            z-index: 1;

            @include media-breakpoint-up(lg) {
                top: initial;
                right: initial;
                bottom: 40px;
                z-index: -1;
                left: -105px;
            }
        }

        img {
            width: 100%;
            height: 469px;
            object-fit: cover;

            @include media-breakpoint-up(lg) {
                width: 489px;
                height: 610px;
                position: relative;
                bottom: -4px;
            }
        }

    }

    &-info {
        margin-top: 28px;
        align-content: center;

        @include media-breakpoint-up(lg) {
            margin-top: 115px;
            margin-left: 115px;
            width: 635px;
        }

        &::before {
            @include media-breakpoint-up(lg) {}
        }

        h1 {
            text-transform: uppercase;
        }

        h2 {
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 300;
        }

        p {
            margin-top: 42px;
            font-size: 17px;

            @include media-breakpoint-up(lg) {
                font-size: 20px;
            }
        }
    }
}