.header {
    --header-height: 80px;
    position: absolute;
    width: 100%;
    z-index: 3;

    @include media-breakpoint-up(lg) {
        background: #fff;
    }

    .container {
        display: flex;
        align-items: center;
        height: var(--header-height);

        @include media-breakpoint-up(lg) {
            justify-content: space-between;
        }
    }

    &-logo {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.menu {

    @include media-breakpoint-down(lg) {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #ccc;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

        @at-root .menu-active & {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }

        &::before {
            content: '';
            background: url(../images/group-loc2.svg);
            width: 250px;
            height: 230px;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: -68px;
            left: -80px;
            z-index: 2;
        }
    }


    nav {

        @include media-breakpoint-down(lg) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
            min-height: 100%;
            background-color: #F8A128;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }
    }

    li {

        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }

        @include media-breakpoint-up(lg) {
            margin-left: 20px;
        }
    }

    &-logo {
        margin-bottom: 50px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &-link {
        font-size: 25px;
        color: #fff;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            color: #000;
        }

        &:hover {
            color: #444;
        }

    }

    &-destaque {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 15px 20px;
        font-size: 25px;
        background: var(--bg-destaque);
        color: #fff;
        border-radius: 20px;
        width: 222px;
        height: 48px;

        @include media-breakpoint-up(lg) {
            padding: 0 2px 0 20px;
            line-height: var(--header-height);
            height: var(--header-height);
            background: transparent linear-gradient(to left, #F6CB20 0%, #F6CB20 0%, #FFE57B 100%);
            font-size: 14px;
            width: 176px;
            height: 38px;
            color: #000;
        }

        i {
            font-size: 15px;
            margin-right: 10px;

            @include media-breakpoint-up(lg) {
                font-size: 12px;
            }
        }

        &::after {

            @include media-breakpoint-up(lg) {
                content: "";
                width: 50vw;
                height: 100%;
                position: absolute;
                left: calc(100% - 1px);
                top: 0;
                background: var(--bg-destaque);
                pointer-events: none;
            }
        }

        &:hover {
            color: #fff;
        }
    }

    img {
        width: 158px;
        position: absolute;
        bottom: 0;
        left: 106px;
        background-color: #fff;
        padding: 19px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.btn-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    padding: 0;
    border: 0;
    background: none;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &-icon {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 66px;
        background: #F8A128;
        border-radius: 0 0 0 20px;

        &::before,
        &::after,
        span {
            content: "";
            width: 26px;
            height: 2px;
            background: #fff;
            margin: 3px 0;
            transition: all .3s cubic-bezier(.42, 0, .15, 1.49);
        }

        &::after {
            transform: translateX(-15%) scaleX(0.7);
        }

        @at-root .menu-active & {

            &:before {
                transform: translateY(8px) rotate(45deg) scaleX(0.7);
            }

            span {
                opacity: 0;
            }

            &:after {
                transform: translateY(-8px) rotate(-45deg) scaleX(0.7);
            }
        }
    }
}