.lazer {

    &-grupo {
        position: relative;

        .grp-lazer {
            &::before {
                content: '';
                background: url(../images/grupo-diferenciais.svg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 150px;
                height: 84px;
                position: absolute;
                top: 0;
                left: -54px;
                z-index: 2;

                @include media-breakpoint-up (lg) {
                    width: 308px;
                    height: 172px;
                    top: -30px;
                    left: -109px;

                }
            }
        }
    }

    .titulo {

        font-size: 30px;
        margin-bottom: 36px;
        margin-left: 135px;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            text-align: left;
            padding-top: 33px;
            margin-left: 135px;
            margin-bottom: 100px;
        }
    }

    &-petalas-carrosel {
        position: relative;

        .group-petalas1 {
            &::before {
                content: '';
                background: url(../images/detalhe-1.svg);
                width: 300px;
                height: 300px;
                background-size: 83%;
                background-repeat: no-repeat;
                position: absolute;
                top: -265px;
                left: -170px;
                z-index: -1;

                @include media-breakpoint-up(lg) {
                    background-size: cover;
                    top: 251px;
                    left: 163px;
                }
            }
        }

        .group-petalas2 {
            &::before {
                content: '';
                background: url(../images/detalhe-2.svg);
                width: 300px;
                height: 300px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -127px;
                right: 153px;
                z-index: -1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

    }

    .titulo-carrosel {
        font-size: 30px;
        text-align: center;
        margin-top: 63px;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            text-align: left;
            padding-top: 33px;
            margin-left: 135px;
            margin-bottom: 100px;
        }
    }

    &-mais15carrossel {
        position: relative;
        margin-top: 30px;

        @include media-breakpoint-up(lg) {
            margin-top: 60px;
        }

        .petalas1 {
            &::before {
                content: '';
                background: url(../images/petalas-lazer1-2.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -35px;
                left: 128px;
                z-index: -1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .petalas2 {
            &::before {
                content: '';
                background: url(../images/petalas-lazer1-2.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 0;
                right: 100px;
                z-index: -1;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .petalas3 {
            &::before {
                content: '';
                background: url(../images/petalas-lazer3-4.svg);
                width: 123px;
                height: 136px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -65px;
                right: -8px;
                z-index: -1;

                @include media-breakpoint-up(lg) {
                    right: 376px;
                }
            }
        }

        .petalas4 {
            &::before {
                content: '';
                background: url(../images/petalas-lazer3-4.svg);
                width: 104px;
                height: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 28px;
                left: 330px;
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .splide {
            --nav-margin: 510px;
            --nav-bg: #000;

            @include media-breakpoint-up(lg) {
                margin-bottom: 100px;
            }

            &__track {
                max-width: 850px;
                margin: 0 auto;
            }

            &__slide {

                &.is-active {
                    @include media-breakpoint-up(lg) {
                        .item {
                            transform: scale(1);
                        }
                    }
                }


                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 284px;
                    height: 284px;
                    text-align: center;
                    padding: 20px;
                    border: solid 1px #005BAA;
                    border-radius: 20px;
                    box-shadow: 0px 6px 11px #00000029;
                    background: transparent linear-gradient(137deg, #FFFFFF 0%, #EEF5FB 100%) 0% 0% no-repeat padding-box;

                    @include media-breakpoint-up(lg) {
                        transform: scale(0.8);
                        transition: transform .1s ease-in-out;
                    }
                }

                .icone {
                    font-size: 45px;
                    color: #005BAA;
                }

                p {
                    text-transform: uppercase;
                    font-size: 20px;
                }

                .legenda {
                    text-transform: capitalize;
                }
            }

        }

    }

    &-grupo-foot {
        position: relative;

        .grp-lazer-foot {
            &::before {
                content: '';
                background: url(../images/grupo-diferenciais.svg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 150px;
                height: 84px;
                position: absolute;
                top: 43px;
                right: -57px;
                z-index: 2;
                transform: rotate(180deg);

                @include media-breakpoint-up (lg) {
                    width: 308px;
                    height: 172px;
                    top: -178px;
                    left: 0;
                    transform: none;

                }
            }
        }
    }
}