.plantas{

    &-titulo{
        .content{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            position: relative;
            width: 284px;
            height: 270px;
            background: url(../images/plantas.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0 26px;
            
        }
        h1{position: relative;}
        p{position: relative;}
    }

    .splide{
        &__slide{
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .botao-cta{
        display: flex;
        justify-content: center;
        margin-top: 64px;

        @include media-breakpoint-down(sm) {
            margin-top: 41px;
        }
    }
}