<section class="splide splide-icones" aria-label="">
    <h1>Diferenciais</h1>
    <div class="splide__track">

          <div class="splide__list">

            <!-- ITEM -->
            <div class="splide__slide">
                <div class="item">
                    <div class="icone"></div>
                    <p></p>
                </div>
            </div>

            <!-- ITEM -->
            <div class="splide__slide">
                <div class="item">
                    <div class="icone"></div>
                    <p></p>
                </div>
            </div>

          </div>

    </div>
</section>