<section class="splide splide-icones" aria-label="">
    <div class="container">
        <img src="../images/grupo-diferenciais.svg" alt="" class="group-diferenciais">
        
        <div class="infos">
            <h1 class="tit">Diferenciais</h1>
        </div>

        <div class="splide__track">

            <div class="splide__list">

                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone">
                            <i class="icon-region01"></i>
                        </div>
                        <p><strong>Preparado <br class="desk"> para automação</strong></p>
                    </div>
                </div>

                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone">
                            <i class="icon-region01"></i>
                        </div>
                        <p><strong>Tomada USB</strong></p>
                        <p class="legenda">Na Suíte,<br class="desk">Salão de festas / Coworking</p>
                    </div>
                </div>

                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone">
                            <i class="icon-region01"></i>
                        </div>
                        <p><strong>Preparado<br class="desk">para aquecimento <br class="desk"> a gás natural</strong>
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>