<section class="diferenciais">

    <div class="container">
e
        <div class="titulo">
            <h1>Diferenciais</h1>
        </div>

        <div class="diferenciais-carrossel">

            <span class="petalas1"></span>
            <span class="petalas2"></span>

            <div class="splide splide-icones" aria-label="">
                
                <div class="splide__track">
        
                    <div class="splide__list">
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais01"></i>
                                </div>
                                <div class="infos">
                                    <p><strong>Preparado <br class="desk"> para ar-condicionado</strong></p>
                                </div>
                            </div>
                        </div>
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais02"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Opção de duas varandas</strong></p>
                                </div>
                            </div>
                        </div>
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais03"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Excelente<br class="desk">localiçazão</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais04"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Preparado para<br class="desk">portaria 24h</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais05"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Espaço Uber</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais06"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Lockers</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais07"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Tomada para <br class="desk">carro elétrico</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais08"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Car wash</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais09"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Piso Top</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais10"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Condomínio Clube</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais11"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Revestimento <br class="desk"> e hidráulica</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais12"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Suíte</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-diferenciais13"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Espaço Marketplace</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                </div>
            </div>
    
        </div>
    
        <div class="botao-cta">
            <a href="" class="btn-cta js-open-modal" data-modal-target="email">Entre em contato</a>
        </div>
    </div>

</section>