<section class="diferenciais">

    <div class="container">

        <div class="titulo">
            <h1>Diferenciais</h1>
        </div>

        <div class="diferenciais-carrossel">
    
            <div class="splide splide-icones" aria-label="">
                
                <div class="splide__track">
        
                    <div class="splide__list">
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-region01"></i>
                                </div>
                                <div class="infos">
                                    <p><strong>Preparado <br class="desk"> para automação</strong></p>
                                </div>
                            </div>
                        </div>
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-region01"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Tomada USB</strong></p>
                                    <p class="legenda">Na Suíte,<br class="desk">Salão de festas / Coworking</p>
                                </div>
                            </div>
                        </div>
        
                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-region01"></i>
                                </div>
    
                                <div class="infos">
                                    <p><strong>Preparado<br class="desk">para aquecimento <br class="desk"> a gás natural</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                </div>
            </div>
    
        </div>
    
        <div class="botao-cta">
            <a href="" class="btn-cta js-open-modal" data-modal-target="email">Entre em contato</a>
        </div>
    </div>

</section>