<section class="splide splide-icones" aria-label="">
    <div class="container">
        <img src="../images/grupo-diferenciais.svg" alt="" class="group-diferenciais">
        <h1 class="tit">Diferenciais</h1>
    
        <div class="splide__track">
    
              <div class="splide__list">
    
                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone">
                            <img src="../images/" alt="">
                        </div>
                        <p>Preparado para automação</p>
                    </div>
                </div>
    
                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone"></div>
                        <p>Tomada USB</p>
                        <p>Na Suíte,<br class="desk">Salão de festas / Coworking</p>
                    </div>
                </div>

                <!-- ITEM -->
                <div class="splide__slide">
                    <div class="item">
                        <div class="icone"></div>
                        <p>Preparado<br class="desk">para aquecimento <br class="desk"> a gás natural</p>
                    </div>
                </div>
    
              </div>
    
        </div>

    </div>
</section>