<section class="fachada" id="fachada">
    <div class="container">

        <div class="fachada-img">
            <img class="bg-img" src="../images/bg.png" alt="">
            <img class="grupo-img" src="../images/grupo-fachada.svg" alt="">
            <img class="imagem" src="../images/fachada.png" alt="">
        </div>

        <div class="fachada-info">
            <img class="grupo-info" src="../images/grupo-info.svg" alt="">
            <h1><strong>Conheça o JJR Hortência</strong></h1>
            <h2>Inspirado nas cores usadas <br class="desk"> pelo artista Miró e o arquiteto <br class="desk"> Antoni Gaudí</h2>
            <p>O artista espanhol Joan Miró um dos grandes nomes da pintura do século XX. O arquiteto Antoni Gaudi foi um dos grandes inovadores da estética modernista espanhola. Sua arte se destacou pela liberdade de forma, cor e textura voluptuosa. <br class="desk"> Sua obra carrega simplicidade, equilíbrio e muitos elementos imaginativos. Com composições poéticas, muitas vezes trazendo explosões cromáticas. Bairro tradicional muito conhecido da cidade, formado e com forte influência de imigrantes ESPANHÓIS. <br class="desk"> Com base nesse conceito e na inspiração artística, cultural do bairro desenvolvemos o empreendimento JJR HORTÊNCIA, usamos formas modernas, linhas, traços, cores, a inspiração e a poesia do artista.</p>
        </div>

    </div>
</section>