<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <p>CRECI 31.064. Todas as imagens utilizadas neste anúncio são meramente ilustrativas. Possíveis alterações de projeto serão executadas de acordo com o Memorial Descritivo do empreendimento. O empreendimento denominado “JJR HORTÊNCIA'', encontra-se aprovado na prefeitura municipal de Sorocaba-SP, conforme alvará de obras n° 1095/21 SEPLAN/DGT/SEP, Matrícula n° 230.114 1° oficial registro de Sorocaba. As vegetações nas ilustrações artísticas são entregues em porte de mudas, atingindo o porte adulto após a entrega do empreendimento. Financiamento das unidades do empreendimento dependerá de aprovação da operação pela CAIXA. A compra do aquecedor a gás e instalação será de responsabilidade do cliente, a construtora irá entregar apenas as instalações de água e gás. A decoração das áreas comuns, mobiliário, e equipamentos serão de responsabilidade do condomínio. Somente será entregue a infraestrutura para a realização de automação dos pontos de iluminação e ar-condicionado. Somente será entregue a preparação de instalação do ar condicionado. A compra do aparelho de ar condicionado será de responsabilidade do cliente.. Material preliminar sujeito a alteração.</p>
        </div>

        <div class="footer-logoid360">
            <a href="http://www.id360.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape" target="_blank">
                <img src="images/logo-id360.svg" width="70px" height="23px" alt="ID360 New Media">
            </a>
        </div>
    </div>
</footer>