<section class="intro">
    <div class="container">
        <h1 class="intro-tit">Sorocaba/SP <br class="desk"> A 5 minutos do Centro</h1>
        <p>2 e 3 DORMS. COM SUÍTE</p>
        <a href="#localizacao" class="btn btn-banner">Compre já</a>
    </div>

    <div class="intro-img">
        <picture>
            <source media="(max-width: 480px)" srcset="images/banner-mob.jpg">
            <img src="images/banner.jpg" alt="Fachada" class="js-parallax" data-speed="2">
        </picture>
    </div>
</section>