<section class="intro">
    <div class="container">

        <div class="intro-logo">
            <img src="images/logo-hortencia.png" alt="">
        </div>

        <div class="intro-infos">
            <h1 class="intro-tit">Sorocaba/SP <br class="desk"> A 5 minutos do Centro</h1>

            <p>2 e 3 DORMS. COM SUÍTE</p>

            <div class="destaque">
                <strong>
                    <span class="uno">A partir de </span>
                    <span class="dos">R$ </span>
                    <span class="tres">235</span>
                    <span class="dos"> mil</span>
                </strong>
            </div>
            
            <a href="#fachada" class="btn btn-banner">Compre já</a>
        </div>

        <div class="intro-form">

            <p class="form-text">Preencha seus dados e receba valores, condições de lançamento e mais.</p>

            <%
            form_nome = 'formIntroEmail';
            form_prefixo = 'FIE';
            form_tipo = 'Email';
            form_canal = 'mensagem';
            form_btn = 'Enviar';
            %>
    
            <% include form %>
        </div>

        
    </div>
    
    <div class="intro-img">
        <img src="../images/logo-casavea.png" alt="">
    </div>


</section>