<section class="lazer" id="lazer">

    <div class="container">

        <div class="lazer-grupo">
            <span class="grp-lazer"></span>
        </div>

        <div class="titulo">
            <h1>Lazer para você <br class="mob">e sua família</h1>
        </div>

    </div>

    <div class="lazer-petalas-carrosel">
        <span class="group-petalas1"></span>
        <span class="group-petalas2"></span>
    </div>
    
    <% index_galeria = 1 %>
    <% include galeria %>


    <div class="container">       

        <div class="titulo-carrosel">
            <h1>Mais de 15 itens para toda a família se divertir e relaxar!</h1>
        </div>

        <div class="lazer-mais15carrossel">

            <span class="petalas1"></span>
            <span class="petalas2"></span>
            <span class="petalas3"></span>
            <span class="petalas4"></span>

            <div class="splide splide-icones" aria-label="">

                <div class="splide__track">

                    <div class="splide__list">

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens01"></i>
                                </div>
                                <div class="infos">
                                    <p><strong>Bike Sharing<br class="desk"> com oficina</strong></p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens02"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Beach Tennis</strong></p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens03"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Salão de jogos</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens05"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Brinquedoteca</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens06"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Pet care</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens07"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Pet PLace</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens08"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Sauna com área <br class="desk"> para ducha</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens09"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Car wash</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens10"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Playground</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens11"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>PLay baby</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens12"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Área de lazer <br class="desk"> na cobertura</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens13"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Espaço Uber</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens14"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Sala de massagem <br class="desk">com espaço bauty care</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens15"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Espaço Marketplace</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- ITEM -->
                        <div class="splide__slide">
                            <div class="item">
                                <div class="icone">
                                    <i class="icon-itens16"></i>
                                </div>

                                <div class="infos">
                                    <p><strong>Lockers</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</section>