<section class="localizacao" id="localizacao">

    <div class="localizacao-intro">
        <div class="imagem">
            <img src="../images/qualidade-vida.jpg" alt="">
        </div>

        <div class="container">
            <h1 class="tit">Vila Hortência:</h1>
            <p class="subtit">Uma região <br class="desk"> com qualidade de vida</p>
            <p class="foot">À 5 min. do Centro de Sorocaba.</p>
        </div>
    </div>

    <div class="localizacao-infos">
        <div class="container">

            <div class="localizacao-desc">
                <h1 class="tit-desc">Venha morar em uma das regiões <br class="desk"> mais tradicionais de Sorocaba.</h1>
                
                <p class="text">A Vila Hotência conta com tudo o que você precisa em conveniência e qualidade de vida.</p>
            </div>
    
            <div class="localizacao-icons">
                <p class="text">A apenas alguns minutos: </p>

                <ul>
                    <li>
                        <i class="icon-region01"></i>
                        <p class="">Zoológico de Sorocaba </p>
                    </li>
                    <li>
                        <i class="icon-region02"></i>
                        <p class="">Comércios</p>
                    </li>
                    <li>
                        <i class="icon-g10"></i>
                        <p class="">Ginásio de Esportes </p>
                    </li>
                    <li>
                        <i class="icon-region04"></i>
                        <p class="">Escolas Técnicas </p>
                    </li>
                </ul>

                <p class="text"><strong>Venha se econtrar novo e já tradicional empreendimento da região </strong></p>
            </div>

            <div class="botao-cta">
                <a href="" class="btn-cta js-open-modal" data-modal-target="email">Saiba Mais</a>
            </div>
        </div>


    </div>

</section>