<div class="modal-contato" data-modal-contato="whatsapp">
    <div class="modal-contato-scroll">
        <div class="container">
            
            <h3 class="modal-contato-tit">
                <img src="images/logo-hortencia.png" alt="<%= nome %>">
                Fale conosco <br class="desk">pelo Whatsapp.
            </h3>

            <%
            form_nome = 'formModalWhats';
            form_prefixo = 'FMW';
            form_tipo = 'Whatsapp';
            form_canal = 'whatsapp';
            form_btn = 'Iniciar atendimento';
            %>

            <% include form %>

        </div>

        <div class="modal-contato-imagem">
            <img src="images/banner.jpg" alt="">
        </div>

    </div>

    <button class="btn-fechar js-close-modal"><i class="icon-close"></i></button>
</div>