<section class="realizacao">
    <div class="container">
        <div class="titulo">
            <p>Projeto, Incorporação e Realização</p>
        </div>

        <div class="realizacao-logos">
            <img src="../images/logo-jjremprendimentos.png" alt="">
            <img class="yees" src="../images/yees.png" alt="">
        </div>

        <div class="realizacao-logo-vendas">
            <div class="bloco">
                <p class="">Vendas: </p>    
                <img src="../images/logo-jjreis.png" alt="">
            </div>

            <div class="divisor">
                <span></span>
            </div>

            <div class="bloco">
                <img src="../images/logo-casavea1.png" alt="">
                <img src="../images/logo-caixa.png" alt="">
            </div>
        </div>

    </div>
</section>