<section class="realizacao">
    <div class="container">
        <div class="titulo">
            <p>Projeto, Incorporação e Realização</p>
        </div>

        <div class="realizacao-logos">
            <img src="../images/logo-jjremprendimentos.png" alt="">
            <img src="../images/logo-jjremprendimentos.png" alt="">
        </div>

        <div class="realizacao-logo-vendas">
            <p class="">Vendas: </p>
            <img src="../images/logo-jjreis.png" alt="">
            <img src="../images/logo-casavea.png" alt="">
            <img src="../images/logo-caixa.png" alt="">
        </div>

    </div>
</section>